@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcomeeeeee</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Sono Alfredo, solo che ancora non posso fare niente :( Pero' se vuoi puoi ordinare una pizza nel menù qui accanto ;)'</p>
</div>
